/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:59:23 PM
    Author     : ddjump
*/

@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

p {
    background-color: #FFB115;
}

a {
   font-family: 'Sigmar One', cursive; 
   color: #1F418E;
}

p {
    font-family: 'Sigmar One', cursive;
    font-size: 47px;
    color: #9C6800;
}
