/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:58:55 PM
    Author     : ddjump
*/
body {
    background-image: url("../images/python.jpg");
}

p {
    background-color: #FFB115;
}

a {
    text-decoration: none;
}

