/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 6:42:21 PM
    Author     : ddjump
*/

#background {
    background-color: #DCCF9C;
}

#banner {
    position: relative;
    padding:10px;
    vertical-align: top;
    background-color: #30B558;
}

#bannerText {
    
}

#table {
    border-style: double;
    border-width: thick;
    border-color: brown;
    padding: 20px 0;
    background-color: #E7CB94;
    width: 25px;
    height: 20px;
}

id.center{
    margin-left:auto;
    margin-right:auto;
}

#text {
    border-style: double;
    border-width: thick;
    border-color: brown;
    padding: 20px 0;
    background-color: #E7CB94;
}

#index1, #index3, #index5 {
    background-color: #76A952;
}

#index2, #index4{
    background-color: #376914;
}

